body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.app {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  padding-top: 40px;
  padding-bottom: 40px;
}

.header {
  display: flex;
  align-items: center;
  gap: 60px;

  background-color: rgba(219, 218, 218, 0.8);
}
